<div class="container">
  <h1>ngIf:</h1>
  <app-diretiva-ngif></app-diretiva-ngif>
  <br><hr><br>
  <h1>ngSwitch:</h1>
  <app-diretiva-ngswitchcase></app-diretiva-ngswitchcase>
  <br><hr><br>
  <h1>ngFor:</h1>
  <app-diretiva-ngfor></app-diretiva-ngfor>
  <br><hr><br>
  <h1>ngClass:</h1>
  <app-diretiva-ngclass></app-diretiva-ngclass>
  <br><hr><br>
  <h1>ngStyle:</h1>
  <app-diretiva-ngstyle></app-diretiva-ngstyle>
  <br><hr><br>
  <h1>Elvis Operator:</h1>
  <app-elvis-operator></app-elvis-operator>
  <br><hr><br>
  <h1>ngContent:</h1>
  <app-ng-content>
    <div class="title">Titulo do painel sendo passado...</div>
    <div class="body">Passando para o componente</div>
    <div class="body">Passando outro!!</div>
  </app-ng-content>
  <br><hr><br>
  <h1>Diretivas customizadas:</h1>
  <app-diretivas-customizadas></app-diretivas-customizadas>
  <br><hr><br>
</div>