<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [class.active]="aba === 'home'" (click)="aba = 'home'">Home</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [class.active]="aba === 'map'" (click)="aba = 'map'">Mapa</a></li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" [class.active]="aba === 'test'" (click)="aba = 'test'">Teste</a></li>
    </ul>
  </div>
</nav>

<nav class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'map'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'test'">Modo Teste ativado</p>
  <p *ngSwitchDefault>Home</p>
  
</nav>