<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teste Express</title>
</head>

<body>
  <h1>Aqui</h1>
  <!-- <form method="POST" action="/">
    <label for="nome">
    Nome: 
    <input type="text" name="nome">
    </label>
    <button type="submit">Enviar</button>
  </form> -->

  <script src="./assets/js/bundle.js"></script>
</body>

</html>